@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

*{
    margin: 0;
    font-family: 'San Francisco','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*--- all ---*/
#all{
    background-color: #d8d8d8;
}
/*--- all fin ---*/

/*--- DivG ---*/
#divG{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}
/*--- DivG fin ---*/

/*--- Produit ---*/
.produit{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    padding: 5px;
    border-radius: 17px;
    background-color: white;
    margin-top: 1%;
    margin: 40px;
    width: 25%;
    transition: all 300ms;
}

.produit h3{
    font-size: 1.4rem;
    overflow-wrap: break-word;
}

.produit img{
    max-width: 100%;
    border-radius: 12px;
}

.produit:hover {
    background-color: #395B64;
    color: #c9f7ea;
}

.produit #btProtuit input{
    font-size: 90%;
    text-align: center;
    width: 100%;
    height: 27px;
    background-color: #395B64;
    border: 2px solid #b9f7e6;
    color: #b9f7e6;
    border-radius: 10px;
    transition: all 200ms;
}

.produit #btProtuit input:hover{
    background-color: #52828f;
    box-shadow: 0px 0px 0px #b9f7e6;
}

.produit #btProtuit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*--- Produit fin ---*/

/*--- Erreur ---*/
#ErreurRecherche{
    margin: 3%;
    padding: 0.5%;
    font-size: 150%;
    text-align: center;
    width: 94%;
    background-color: rgb(161, 0, 0);
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ErreurRecherche img{
    max-width: 12%;
}

#erreur_qte_model{
    margin: 3%;
    padding: 0.5%;
    font-size: 150%;
    text-align: center;
    width: 94%;
    background-color: rgb(161, 0, 0);
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*--- Erreur fin ---*/

/*--- Pagination début ---*/
#paginationCadre{
    display: flex;
    justify-content: center;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination a{
    font-size: 20px;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    color: #969696;
    background: #F0F0F0;
    transform: all 200ms;
}

.pagination a:hover{
    color: #0096c8;
    background-color: #d9eef4;
}

.pagination p{
    font-size: 20px;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    color: #969696;
    background: #c9c9c9;
}

.pagination .pageActuel{
    font-size: 20px;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    color: #0096c8;
    background-color: #d9eef4;
}
/*--- Pagination fin ---*/